/* pallet
Darkest
>> #143109
>> #aaae7f
>> #d0d6b3
>> #f7f7f7
>> #efefef
Lightest
*/
:root {
    --palletValue1: #143109;
    --palletValue2: #aaae7f;
    --palletValue3: #d0d6b3;
    --palletValue4: #f7f7f7;
    --palletValue5: #efefef;
  }

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--palletValue2);
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    border-bottom: double var(--palletValue1) 1em;
}

.navbar .side:hover {
    color: var(--palletValue4);
}

.navbar .side {
    color: var(--palletValue1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    background: none;
    border: none;
    margin-top: auto;
    padding: 1em;
    font-weight: 600;
}

.navbar .center {
    font-size: 10em;
    font-weight: 100; /*when we find a new font use this to change thickness of letters*/
    margin: auto;
}

.glide_container{
    width: 80%;
    margin-left: 10%;
}

.glide_header{
    max-width: fit-content;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 2em;
}

.glide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--palletValue4) 1em;
    background-color: var(--palletValue4);
}

img {
    width: 100%;
    height: 50vh;
}